[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "firebehavioR"]
	path = firebehavioR
	url = https://github.com/cran/firebehavioR
	shallow = true
	registered = true
